.main-section {
  flex: 1;
  padding: 20px;
  background-color: grey;
  margin: 10px;
}

.searchbox {
  margin-bottom: 20px;
}

.dayheader {
  height: 20px;
  width: 20px;
  color: white;
  margin-left: 10px;
  font-size: small;
}

.header {
  background-color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 30px;
}

.header-spacing {
  margin-right: 320px;
}

.header-text {
  transform: rotate(90deg);
  color: white;
  width: 45px;
  font-size: small;
}

.no-drivers {
  background-color: #333;
  font-size: 20px;
  color: white;
  padding: 10px;
}