.top-bar-padding {
    background-color: white;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .top-bar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .logo {
    height: 30px;
  }